.home-page header {
  background-image: url(../utils/img/capa01.jpg);
}

.btn-orange {
  background-color: rgb(255, 85, 0) !important;
  border-color: rgb(255, 81, 0) !important;
  color: white !important;
  transition: background-color 0.3s, border-color 0.3s;
}

.btn-orange:hover {
  background-color: rgb(255, 140, 0) !important;
  border-color: darkorange !important;
}

header {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header h1 {
  font-size: 5rem;
}

.home-page header h1,
.home-page header h2 {
  text-shadow: 2px 2px 1px #ffff;
}

.menu-section {
  background-image: url(../utils/img/perfil02.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

img {
  border-style: none;
  border-width: 5px;
}

@media only scree and (max-width: 768px) {
  header h1 {
    font-size: 4rem;
  }
}

@media only scree and (max-width: 576px) {
  header h1 {
    font-size: 3rem;
  }
}
